$blue  = #0a48a8
$red   = red
$green = #61d581
$grey  = #e6e6e6
$light = #eee
$dark  = #333

$text-color       = $dark
$title-color      = $blue - 35%
$link-color       = $blue
$nav-link-color   = $dark + 41.5%
$link-hover-color = $blue

$sidebar-width             = 250px
$sidebar-menu-border-width = 4px
$container-padding         = 20px 25px

$repo-icon-color = $light - 21.5%
$repo-stat-color = $dark + 25%
$repo-stat-icon-color = $dark + 41.5%
$repo-update-color = $dark + 50%