@import utils
@import config

body
  font-size 16px
  font-family proxima-nova, sans-serif
  line-height 1.4
  color $text-color
  text-shadow 0 1px 0 white
  background $grey url("/img/bg-noise.gif")

header, footer
  width 980px
  z-index 10

a
  color $link-color
  &:hover
    color $text-color

h1, h2, h3
  font-weight normal
  color $text-color
  line-height 1.4
  font-family inherit
  margin 0

header
  margin 0 auto
  padding 40px 8px 0
  height 120px
  position relative
  h1
    float left
    margin 0

h1
  margin-top 50px


[role="navigation"]
  > ul
    padding 0
    height 27px
    display block
    float right
    > li
      float left
      margin-left 16px
      position relative
      font-size 13px
      line-height 27px
      &:first-child
        margin-left 0
      .btn-dropdown:hover
        text-decoration none
      > a
        display block
        color $nav-link-color
        text-decoration none
        &:hover
          color $text-color
          text-decoration none

#logo
  font-size 50px
  color $text-color
  text-decoration none
  display block
  overflow hidden
  text-indent -999em
  background url("/img/metacoder.png") no-repeat

#footer
  text-align center
  font-weight 400
  font-size 13px
  background url('/img/heading-border.png') top center no-repeat
  padding-top 50px
  margin 80px auto 10px
  p
    margin 5px
  a, a:visited, a:hover
    color $text-color
    text-decoration none

.head-image
  display block
  margin 0 auto
  margin-bottom 50px

.content
  margin 0 auto
  width 800px

.repolist
  margin-top 20px
  a
    text-decoration none
  > li
    position relative
    min-height 66px
    padding-left 35px
    padding-bottom 20px
    margin 0 0 20px
    list-style none
    border-bottom 1px solid $light
    &.simple
      min-height 0
    &:first-child
      border-top 1px solid $light
      padding-top 20px
  .repo-stats
    position relative
    top 9px
    z-index 5
    float right
    li
      float left
      list-style none
      font-size 11px
      font-weight bold
      line-height 20px
      color $repo-stat-color
      &+li
        margin-left 10px
      a
        display inline-block
        padding 0 5px
        color $repo-stat-color
        .octicon
          color $repo-stat-icon-color
  .repolist-icon
    float left
    margin-left -35px
    color $repo-icon-color
  .repolist-name
    font-size 20px
    line-height 32px
    margin-top 0
    margin-bottom 0
    white-space nowrap
  .description
    margin 0 0 5px
  .updated-at
    margin 0
    font-size 11px
    color $repo-update-color

.member-list
  margin-top 20px
  a
    text-decoration none
  > li
    position relative
    min-height 66px
    padding-left 35px
    padding-bottom 20px
    margin 0 0 20px
    list-style none
    border-bottom 1px solid $light
    &.simple
      min-height 0
    &:first-child
      border-top 1px solid $light
      padding-top 20px
  .member-stats
    position relative
    top 9px
    z-index 5
    float right
    li
      float left
      list-style none
      font-size 11px
      font-weight bold
      line-height 20px
      color $repo-stat-color
      &+li
        margin-left 15px
      a
        display inline-block
        padding 0 5px
        color $repo-stat-color
        .octicon
          color $repo-stat-icon-color
  .member-icon
    float left
    margin-left -35px
    color $repo-icon-color
  .member-name
    font-size 20px
    line-height 32px
    margin-top 0
    margin-bottom 0
    white-space nowrap
  .description
    margin 0 0 5px


