body
  font-size 16px
  font-family proxima-nova-1, proxima-nova-2, sans-serif
  line-height 1.4
  color #333333
  text-shadow 0 1px 0 white
  background #e6e6e6 url("/img/bg-noise.gif")

header, footer
  width 980px
  z-index 10

a
  color #0a48a8

h1, h2, h3
  font-weight normal
  color #333
  line-height 1.4
  font-family inherit
  margin 0

h1
  font-size 24px

header
  margin 0 auto
  padding 40px 8px 0
  height 120px
  position relative
  h1
    float left
    margin 0


[role="navigation"]
  ul
    padding 0
    height 27px
    display block
    float right
    li
      float left
      margin-left 16px
      position relative
      font-size 13px
      line-height 27px
      &:first-child
        margin-left 0
      .btn-dropdown:hover
        text-decoration none
      a
        display block
        color #888
        text-decoration none
        &:hover
          color #333
          text-decoration none

#logo
  font-size 50px
  color #333
  text-decoration none
  display block
  overflow hidden
  text-indent -999em
  background url("/img/metacoder.png") no-repeat

#footer
  text-align center
  font-weight 400
  font-size 13px
  background url('/img/heading-border.png') top center no-repeat
  padding-top 50px
  margin 80px auto 10px
  p
    margin 5px
  a, a:visited, a:hover
    color #333
    text-decoration none

.head-image
  display block
  margin 0 auto
  margin-bottom 50px

.content
  margin 0 auto
  width 800px