@font-face {
  font-family:"proxima-nova";
  src:url(/font/Proxima-Nova-100-Thin.otf);
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family:"proxima-nova";
  src:url(/font/Proxima-Nova-100-Thin-Italic.otf);
  font-style: italic;
  font-weight: 100;
}
@font-face {
  font-family:"proxima-nova";
  src:url(/font/Proxima-Nova-300-Light.otf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family:"proxima-nova";
  src:url(/font/Proxima-Nova-300-Light-Italic.otf);
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family:"proxima-nova";
  src:url(/font/Proxima-Nova-400-Regular.otf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family:"proxima-nova";
  src:url(/font/Proxima-Nova-400-Regular-Italic.otf);
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family:"proxima-nova";
  src:url(/font/Proxima-Nova-600-Semibold.otf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family:"proxima-nova";
  src:url(/font/Proxima-Nova-600-Semibold-Italic.otf);
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family:"proxima-nova";
  src:url(/font/Proxima-Nova-700-Bold.otf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family:"proxima-nova";
  src:url(/font/Proxima-Nova-700-Bold-Italic.otf);
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family:"proxima-nova";
  src:url(/font/Proxima-Nova-800-Extrabold.otf);
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family:"proxima-nova";
  src:url(/font/Proxima-Nova-800-Extrabold-Italic.otf);
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family:"proxima-nova";
  src:url(/font/Proxima-Nova-900-Black.otf);
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family:"proxima-nova";
  src:url(/font/Proxima-Nova-900-Black-Italic.otf);
  font-style: italic;
  font-weight: 900;
}