.loader {
  width: 100px;
  height: 50px;
  position: relative;
  margin: 100px auto 0;
}

.loader .stick {
  width: 50px;
  height: 6px;
  position: absolute;
  top: 23px;
}

.loader .left {
  left: 3px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);

  -webkit-animation: left 1.7s infinite;
  -moz-animation: left 1.7s infinite;
  -ms-animation: left 1.7s infinite;
  -o-animation: left 1.7s infinite;
  animation: left 1.7s infinite;
}

@keyframes "left" {
 from {
    -webkit-transform: rotate(180deg) scale(1);
    -moz-transform: rotate(180deg) scale(1);
    -o-transform: rotate(180deg) scale(1);
    -ms-transform: rotate(180deg) scale(1);
    transform: rotate(180deg) scale(1);
 }
 50% {
    -webkit-transform: rotate(540deg) scale(1.5);
    -moz-transform: rotate(540deg) scale(1.5);
    -o-transform: rotate(540deg) scale(1.5);
    -ms-transform: rotate(540deg) scale(1.5);
    transform: rotate(540deg) scale(1.5);
 }
 to {
    -webkit-transform: rotate(540deg) scale(1);
    -moz-transform: rotate(540deg) scale(1);
    -o-transform: rotate(540deg) scale(1);
    -ms-transform: rotate(540deg) scale(1);
    transform: rotate(540deg) scale(1);
 }

}

@-moz-keyframes left {
 from {
   -moz-transform: rotate(180deg) scale(1);
   transform: rotate(180deg) scale(1);
 }
 50% {
   -moz-transform: rotate(540deg) scale(1.5);
   transform: rotate(540deg) scale(1.5);
 }
 to {
   -moz-transform: rotate(540deg) scale(1);
   transform: rotate(540deg) scale(1);
 }

}

@-webkit-keyframes "left" {
 from {
   -webkit-transform: rotate(180deg) scale(1);
   transform: rotate(180deg) scale(1);
 }
 50% {
   -webkit-transform: rotate(540deg) scale(1.5);
   transform: rotate(540deg) scale(1.5);
 }
 to {
   -webkit-transform: rotate(540deg) scale(1);
   transform: rotate(540deg) scale(1);
 }

}

@-ms-keyframes "left" {
 from {
   -ms-transform: rotate(180deg) scale(1);
   transform: rotate(180deg) scale(1);
 }
 50% {
   -ms-transform: rotate(540deg) scale(1.5);
   transform: rotate(540deg) scale(1.5);
 }
 to {
   -ms-transform: rotate(540deg) scale(1);
   transform: rotate(540deg) scale(1);
 }

}

@-o-keyframes "left" {
 from {
   -o-transform: rotate(180deg) scale(1);
   transform: rotate(180deg) scale(1);
 }
 50% {
   -o-transform: rotate(540deg) scale(1.5);
   transform: rotate(540deg) scale(1.5);
 }
 to {
   -o-transform: rotate(540deg) scale(1);
   transform: rotate(540deg) scale(1);
 }

}

.loader .right {
  right: 3px;

  -webkit-animation: right 1.7s infinite;
  -moz-animation: right 1.7s infinite;
  -ms-animation: right 1.7s infinite;
  -o-animation: right 1.7s infinite;
  animation: right 1.7s infinite;
}

@keyframes "right" {
 from {
    -webkit-transform: rotate(0deg) scale(1.5);
    -moz-transform: rotate(0deg) scale(1.5);
    -o-transform: rotate(0deg) scale(1.5);
    -ms-transform: rotate(0deg) scale(1.5);
    transform: rotate(0deg) scale(1.5);
 }
 50% {
    -webkit-transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
 }
 to {
    -webkit-transform: rotate(-360deg) scale(1.5);
    -moz-transform: rotate(-360deg) scale(1.5);
    -o-transform: rotate(-360deg) scale(1.5);
    -ms-transform: rotate(-360deg) scale(1.5);
    transform: rotate(-360deg) scale(1.5);
 }

}

@-moz-keyframes right {
 from {
   -moz-transform: rotate(0deg) scale(1.5);
   transform: rotate(0deg) scale(1.5);
 }
 50% {
   -moz-transform: rotate(0deg) scale(1);
   transform: rotate(0deg) scale(1);
 }
 to {
   -moz-transform: rotate(-360deg) scale(1.5);
   transform: rotate(-360deg) scale(1.5);
 }

}

@-webkit-keyframes "right" {
 from {
   -webkit-transform: rotate(0deg) scale(1.5);
   transform: rotate(0deg) scale(1.5);
 }
 50% {
   -webkit-transform: rotate(0deg) scale(1);
   transform: rotate(0deg) scale(1);
 }
 to {
   -webkit-transform: rotate(-360deg) scale(1.5);
   transform: rotate(-360deg) scale(1.5);
 }

}

@-ms-keyframes "right" {
 from {
   -ms-transform: rotate(0deg) scale(1.5);
   transform: rotate(0deg) scale(1.5);
 }
 50% {
   -ms-transform: rotate(0deg) scale(1);
   transform: rotate(0deg) scale(1);
 }
 to {
   -ms-transform: rotate(-360deg) scale(1.5);
   transform: rotate(-360deg) scale(1.5);
 }

}

@-o-keyframes "right" {
 from {
   -o-transform: rotate(0deg) scale(1.5);
   transform: rotate(0deg) scale(1.5);
 }
 50% {
   -o-transform: rotate(0deg) scale(1);
   transform: rotate(0deg) scale(1);
 }
 to {
   -o-transform: rotate(-360deg) scale(1.5);
   transform: rotate(-360deg) scale(1.5);
 }

}

.loader .right span,.loader .left span {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  display: block;
}

.loader .left span {
  background-color: #0a48a8
}

.loader .right span {
  background-color: red
}