<template name="members">
  <div class="content">
    <h1>People</h1>
    {{#if members}}
    <ul class="member-list">
      {{#each members}}
        {{>member}}
      {{/each}}
    </ul>
    {{else}}
      {{>loader}}
    {{/if}}
  </div>
</template>

<template name="member">
  <li>
    <ul class="member-stats">
      {{#each links}}
        <li class="link">
          <span class="octicon {{icon}}"></span>
          <a target="_blank" href="{{url}}">{{title}}</a>
        </li>
      {{/each}}
      <li class="entry-year">
        <span class="octicon octicon-arrow-right"></span>
        <span title="Entry year">{{entry_year}}</span>
      </li>
    </ul>
    <span class="member-icon">
      <span class="mega-octicon octicon-person"></span>
    </span>
    <h3 class="member-name">{{name}}</h3>
    <div class="body">
      <p class="description">
        {{#if fullname}}
          Fullname: {{fullname}}
        {{/if}}
      </p>
    </div>
  </li>
</template>