<template name="repos">
  <ul class="repolist">
    {{#each repos}}
      {{>repo}}
    {{/each}}
  </ul>
</template>

<template name="repo">
  <li>
    <ul class="repo-stats">
      <li class="language">{{language}}</li>
      <li class="stargazers">
        <a href="{{html_url}}/stargazers" title="Stargazers">
          <span class="octicon octicon-star"></span>
          {{watchers}}
        </a>
      </li>
      <li class="forks">
        <a href="{{html_url}}/network" title="Forks">
          <span class="octicon octicon-git-branch"></span>
          {{forks_count}}
        </a>
      </li>
    </ul>
    <span class="repolist-icon">
      <span class="mega-octicon {{icon}}"></span>
    </span>
    <h3 class="repolist-name">
      <a href="{{html_url}}">{{name}}</a>
    </h3>

    <div class="body">
      <p class="description">{{description}}</p>

      <p class="updated-at">
        Last updated
        <time title="{{updated_at}}">{{when updated_at}}</time>
      </p>
    </div>
  </li>
</template>